<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <form action="http://localhost:4000/Data" method="POST"> <!-- Đường dẫn đã chỉ định -->
        <input type="email" name="email">
        <input type="password" name="password">
        <button type="submit">Add</button>
        
    </form>
   

    <table class="table">
        <thead>
            <tr>
                <th scope="col">stt</th>
                <th scope="col">email</th>
                <th scope="col">password</th>
            </tr>
        </thead>
        <tbody>
           
            <% data.forEach((user, index) => { %>
                <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= user.email %></td>
                    <td><%= user.password %><button ><a href="http://localhost:4000/delete/<%= index %>">xoa1</a></button></td>
                </tr>
            <% }); %>
            <!-- tạo data base bằng file db,json
            truy cập vào /users thì show ra danh sách user
            tạo file html
            dùng method post để gửi dữ liệu lên
            email và password lưu lai data vào file db.json -->
        </tbody>
    </table>

</body>

</html>
